.main {
  font-size: medium;
}
.homePage {
  align-items: center;
  text-align: center;
}
.header {
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.counters {
  color: black;
}

.headerItems {
  color: white;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.toolbar {
  background-color: #ffd300;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  background-color: aqua;
  padding: 10px;
}
.space {
  background-color: #ffffff;
  padding: 5px;
}
